.header{
  background-color: #cbabe9;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  height:100%; 
  margin-left:50px;
  padding-top: 50px
}

.todo-list{
  background-color: #cbabe9;
  margin-left:50px;
  padding-top: 50px;
  width: 90%;
  height:100%; 
  padding-bottom: 50px;
}

.mytodo{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left:20px;
}

.status_filter{
  font-size: 20px;
  font-weight: bold;
  /* text-align: right; */
  margin-right:150px;
  /* justify-content: right; */
}

.list-head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
}

.btn-group{
  margin-left: 10px;
}

.card-body{
  background-color: lightgreen;
  font-size: 18px;
}

.todoCards{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.todo-btn-modify{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; 
  gap : 10px 
}

.loadtodo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 100px;
}

#todo-val-name, #todo-val-desc{
  border: 0px;
  background-color: lightgreen;
  color : black
}

#hdrSelect{
  background-color: green;
}